<div class="container-fluid">
  <nav class="sidebar">
    <div class="sidebar-sticky">
      <div class="navbar-brand d-flex justify-content-center mb-5">
        <a
          class="text-decoration-none display-6"
          style="font-weight: 200; color: black; letter-spacing: 5px"
          href="/"
          >CoffeeMarket PANEL</a
        >
        <div class="d-flex mx-5 justify-content-end">
          <i
            (click)="logout()"
            style="cursor: pointer"
            class="bi bi-box-arrow-right"
          ></i>
        </div>

      </div>
      <div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/ekle"> Ürün Ekle </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/list"> Ürünleri Listele </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/list"> Sipariş Görüntüle </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/logs"> Logları Görüntüle </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


</div>
