<form id="loginForm" class="col-3 mx-auto mt-5">
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label"  for="form2Example1">Kullanıcı Adı</label>
      <input title="username" type="email" [(ngModel)]="loginmodel.username" name="username" id="form2Example1" class="form-control" />

    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label"  for="form2Example2">Şifre</label>
        <input title="password" type="password" [(ngModel)]="loginmodel.password" name="password" id="password" required class="form-control" />
    </div>
  
    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">
      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
          <label class="form-check-label" for="form2Example31"> Remember me </label>
        </div>
      </div>
  
      <div class="col">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
    </div>
  
    <!-- Submit button -->
    <button type="button" (click)="login()" class="btn btn-primary btn-block mb-4">Sign in</button>
  
  </form>